/**
===============================================================
	 CSS重置样式 公用层
===============================================================
**/
html, body, div, p, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td,i ,b,a{
    margin: 0;
    padding: 0; font-family: 'Microsoft YaHei','微软雅黑';
}
body{background:#fff;margin: 0;
    padding: 0; }
/*A*/
a{
    text-decoration:none;
}
a:hover{
    text-decoration:none;
}
/*img*/
img{ border:0 none; vertical-align:top;}
/*li*/
ul,li{list-style-type:none;}
/*浮动*/
.fl{
    float:left;
    display:inline;
}
.fr{
    float:right;
    display:inline;
}
.clear{clear:both;}
/*button*/
button{ cursor:pointer;}
.colorred{ color:#ff0000 !important; font-size:14px;}
.colorblue{ color:#00a0c4 !important;font-size:14px;}
.colororange{color:#ffb844 !important;font-size:14px;}

.colorgreen{ color:#85c226 !important;font-size:14px;}
.color9{ color:#999 !important;font-size:14px;}



/*i,em重置*/
i,em{ font-style:normal;}
/*居中*/
.tc{ text-align:center !important;}
.mart0{ margin-top:0 !important; padding-top:0 !important;}
.borderno{ border:none !important}
.bgno{ background:none !important}
input::-webkit-input-placeholder {color:#999 !important; }
textarea::-webkit-input-placeholder {color:#999 !important; }
input{-webkit-appearance: none;appearance: none; outline:none;}
select{-webkit-appearance: none;appearance: none; outline:none;}
.mart30{ margin-top:30px !important;}
.marb30{ margin-bottom:30px !important;}
.top{ width:100%; height:45px; text-align:center; line-height:45px; position:fixed; top:0; left:0; background:#85C226; color:#fff; font-size:17px; z-index:99; letter-spacing:2px;}
.backa{ margin:-10px 0 0 3%; position:absolute; top:50%; left:0; height:20px;}
.backa img{ height:20px; }
.toph{ width:100%; height:45px;}
.wid90{ width:90%; margin:0 5%;}
.none{ display:none;}

/*绑定手机*/
.register-bg{width:90%; padding:0 5%;}
.register-bg h1{ font-weight:normal; color:#85C226; margin:20px 0; text-align:center; font-size:18px;}
.register-inp{ width:90%; height:40px; padding:5px 5%; margin:auto; margin-bottom:10px; border:1px solid #e5e5e5; border-radius:5px; background:#fff;}
.tel-number{ padding-left:10%; background:url(../images/icon_shouji.png) no-repeat left center; width:90%; height:100%; border:none; font-size:16px; color:#333; background-size:18px auto;}
.yzm{ padding-left:10%; width:50%; float:left; background:url(../images/icon_yanzhengma.png) no-repeat left center; height:100%; border:none; font-size:16px; color:#333; background-size:17px auto;}
.fsyzm{ width:40%; float:right; height:100%; border:none; background:none; text-align:right; font-size:13px; color:#00a0c4;}
.binding{ width:60%; height:45px;border:2px solid #85c226; color:#85c226; background:none; font-size:16px; border-radius:5px; margin:30px 20%;}

/*寻找充电桩*/
.search-top{ background:#F5F5F5; width:100%; }
.search-tit{ height:40px; line-height:40px;}
.search-tit li{ float:left; width:80px; border-bottom:2px solid #f5f5f5; text-align:center;}
.search-tit li a{ font-size:16px; color:#999;}
.search-aon{ border-bottom:2px solid #85C226 !important; background:#DFEBCC;}
.search-aon a{ color:#85C226 !important;}
.searvh-sel{ padding:10px 5%; }
.search-inp{border-radius:5px; border:1px solid #e5e5e5; background:#fff; padding:5px 8px; position:relative;}
.address-inp{ width:74%; height:30px; border:none; border-radius:0; padding-left:10%;  font-size:13px; color:#666; border-right:1px solid #e5e5e5;}
.xian{ position:absolute; top:10px; left:8px; color:#fff; background:#85C226; display:block; width:20px; height:20px; font-size:12px; border-radius:50%; text-align:center; line-height:20px;}
.address-a{ display:block; height:30px; width:15%; float:right;font-size:12px; line-height:30px; text-align:center; color:#999;}
/* background:url(../images/icon_dizhi_qiehuan.png) no-repeat center; background-size:25px; 切换地址的背景*/
.search-span{border-radius:5px; border:1px solid #e5e5e5; background:#fff; padding:5px 8px; height:30px; margin:10px 10px 0 0; width:30%; display:block; float:left;}
.search-span select{ width:100%; border:none; background:url(../images/icon_xialasanjiao.png) no-repeat right center; background-size:15px auto;  height:100%; color:#666; font-size:14px;}
.boxshadow{ width:100%; height:auto; background-size:100% auto; background:url(../images/touying_dingbukuai.png) no-repeat left top; padding-top:5px;}
.comp-list{ width:94%; padding:10px 3%; border-bottom:1px solid #e5e5e5; height:80px; position:relative;}
.comp-left{ width:33%; float:left;}
.comp-left img{ width:100px; height:80px;}
.comp-right{ width:65%; float:left; padding-left:2%;}
.comp-right h3{ font-weight:normal; color:#000; font-size:14px; line-height:20px; margin-bottom:3px; overflow:hidden;text-overflow: ellipsis;white-space:nowrap;}
.comp-right p{ font-weight:normal; color:#999; font-size:12px; line-height:20px;margin-bottom:2px; letter-spacing:2px;}
.comp-right img{ width:20px; height:20px; margin:0 3px;}
.kuai{ background:#00A0C4;width:20px; line-height:20px;height:20px;  display:block; float:left; font-size:12px; text-align:center; border-radius:50%; margin:0 3px; color:#fff;}
.man{ background:#FFB844;width:20px; line-height:20px;height:20px;  display:block; float:left;  font-size:12px; text-align:center; border-radius:50%; margin:0 3px; color:#fff;}

.comp-right h4{ clear:both; font-weight:normal; color:#85C226; font-size:12px; line-height:18px;letter-spacing:2px;}
.comp-right h5{clear:both;  font-weight:normal; color:#999; font-size:12px; line-height:18px;overflow:hidden;text-overflow: ellipsis;white-space:nowrap; padding-right:50px;}
.comp-right b{ font-size:14px; color:#ff0000; font-weight:normal; position:absolute; bottom:10px; right:5px;}

/*充点电详情*/
.comp-info-top{background:#F5F5F5; width:90%; padding:10px 5% 15px 5%; position:relative;}
.comp-info-top h3{ font-size:16px; color:#85C226; font-weight:normal; margin-bottom:10px; line-height:30px;}
.comp-info-top b{ font-size:16px; color:#999; margin-left:10px; font-weight:normal;}
.comp-info-top p{ font-size:14px; color:#000;  font-weight:normal;}
.comp-info-top strong{ font-size:18px; color:#ff0000;  font-weight:normal; position:absolute; top:15px; right:10px;}
.comp-info-nav{ width:100%; background:url(../images/touying_dingbukuai.png) no-repeat top left; background-size:100% auto; padding-top:10px;}

.comp-info-nav ul{ height:40px; border-bottom:2px solid #E5E5E5;}
.comp-info-nav li{ float:left; width:80px; height:40px; line-height:40px; text-align:center; font-size:16px; color:#666;}
.lion{ color:#85C226 !important; border-bottom:2px solid #85C226;}
.pro-list{ width:95%; padding:10px 5% 10px 0; border-bottom:1px solid #e5e5e5; height:45px; overflow:hidden;}
.pro-list h1{ font-size:16px; color:#999; line-height:25px; font-weight:normal; overflow:hidden;text-overflow: ellipsis;white-space:nowrap;}
.pro-list h2{ font-size:14px; color:#999; line-height:25px; font-weight:normal;}
.pro-list h3{ font-size:13px; color:#ffb844; line-height:20px; font-weight:normal;}
.pro-list p{ font-size:12px; color:#999; line-height:20px; font-weight:normal;}
.pro-list li{ float:left;}
.width58 img{ width:20px; margin:2px 3px;}
.width22{ width:30%; text-align:center;}
.width58{ width:48%; padding-left:2%; }
.width20{ width:20%; text-align:right;}
.width20 img{ width:40px; margin-top:3px;}
.color0{ color:#000 !important;}
.info{ display:none;}
.comm-list{ width:90%; padding:8px 5%; border-bottom:1px solid #e5e5e5;}
.comm-list h1{ font-size:16px; color:#000; margin-bottom:10px; font-weight:normal;}
.comm-list h3{ font-size:12px; color:#999; line-height:20px; font-weight:normal; clear:both; margin-top:8px;}
.comm-list p span{ font-size:12px; color:#999; line-height:20px; font-weight:normal; float:right;}
.comm-list p img{ width:15px; margin-right:3px;}
.info-img{ width:90%; padding:10px 5%;}
.info-img img{ width:100%; height:auto; margin:5px 0;}

/*充电桩详情*/
.pro-info-top{ width:90%; padding:10px 5%; text-align:center;}
.pro-info-top h1{ font-weight:normal; font-size:16px; color:#999; margin-bottom:20px;}
.pro-icon{ width:60px; margin-bottom:10px;}
.pro-info-top span{ margin-right:10px; line-height:25px; font-size:14px;}
.pro-info-top span img{ width:25px; margin-right:5px;}

/*扫描二维码*/
.two-wm{ background:url(../images/icon_saomiaohuawen.png) no-repeat; background-size:100% 100%; padding:20px; width:200px; margin:auto; margin-top:40px;}
.two-wm img{ width:100%;}
.two-p{ text-align:center; color:#000; line-height:60px; font-size:15px;}
.no-money{ text-align:center;}
.no-money p{ font-size:18px; color:#000;  margin-top:10%; letter-spacing:2px;}
.no-money a{ width:60%; margin:15% 20%; height:40px; display:block; border:2px solid #85C226; border-radius:5px; text-align:center; line-height:40px; color:#85C226; font-size:16px;}
/*余额充值*/
.balance-numb{ width:90%; padding:10px 5%; background:#fff; margin-top:10px; height:30px; line-height:30px; font-size:14px; color:#000;}
.balance-numb span{ font-size:16px; color:#FF0000; float:right;}
.balance-tit{ font-size:18px; color:#ffb844; line-height:45px; width:90%; padding:10px 5% 0 5%;}
.balance-numb input { width:70%; font-size:16px; color:#333; text-align:right; line-height:30px; height:30px; float:right;border:none;}

.address-change{ padding-left:10%; background:url(../images/icon_dizhi.png) no-repeat left center; width:90%; height:100%; border:none; font-size:16px; color:#333; background-size:18px auto;}

.change-inp{ width:90%; padding:20px 5%;}
.address-map{ width:90%; padding:0 5%;}

.xieyi{ width:90%; padding:5%;font-size:13px; color:#666; line-height:20px;}
.xieyi p{ font-size:13px; color:#666; line-height:20px; margin-bottom:10px;}
.pro-info-text{ width:90%; padding:10px 5%;}
.pro-info-text p{ font-size:13px; color:#000; line-height:20px; margin-bottom:6px;}

.pro-info-link{ text-align:center; padding:10px 0;}
.xieyi-a{ font-size:14px; color:#85c226; text-decoration:underline;}
.link-btn{width:60%; margin:10% 20%; height:40px; display:block; border:2px solid #85C226; border-radius:5px; text-align:center; line-height:40px; color:#85C226; font-size:16px; }
.link-btn input{ font-size:16px;}
/*充电历史*/
.history-list{ width:90%; padding:10px 5%; background:#fff; margin-bottom:2px;}
.history-tit{ height:40px; line-height:40px;}
.history-tit b{ font-size:16px; color:#000;  font-weight:normal;}
.history-tit span{ float:right; font-size:18px; color:#ff0000;}
.history-bot{ position:relative;}
.history-bot h3{ font-size:15px; color:#999; font-weight:normal; line-height:25px;}
.history-bot p{ font-size:13px; color:#999; font-weight:normal; line-height:20px;}
.history-bot span{ position:absolute; top:0; right:0; line-height:25px; font-size:14px; color:#000;}

/*订单详情*/
.order-top{ margin:20px 0; position:relative;}
.order-top b{ font-size:20px; color:#85C226; line-height:30px; font-weight:normal;}
.order-top span{ margin-left:10px; font-size:14px; color:#000; line-height:30px;}
.order-top h1{ font-size:18px; color:#999; font-weight:normal; margin-bottom:6px;margin-top:6px;}
.order-top p{ font-size:13px; color:#999; font-weight:normal; line-height:20px;}
.order-money{ margin:20px 0;}
.order-money p{ font-size:14px; color:#ff0000; line-height:25px;}
.order-price{ margin:0 0 20px 0;}
.order-price p{ font-size:13px; color:#FFB844; line-height:20px;}
.order-info p{ font-size:13px; color:#000; line-height:20px;}
.comment{ margin:30px 0; border-top:1px solid #e5e5e5;}
.order-top img{ position:absolute; top:0; right:-2%; height:32px; width:auto;}
.order-top h3{ font-size:16px; color:#000; font-weight:normal; margin-bottom:6px;margin-top:6px;}
.comment-bg{ position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,.7); display:none;}
.comm-cen{ width:80%;  margin:20% 7% 0 7%; padding:3%; background:#fff; }
.comm-cen h3{ font-size:16px; color:#000; margin-bottom:5px; font-weight:normal;}
.comm-check{ border-bottom:1px solid #e5e5e5; padding:10px 0; height:20px;}
.comm-check li{ width:20px; float:left; height:20px; background:url(../images/icon_plun_hui.png) no-repeat; background-size:100% 100%; margin-right:5px;}
.comm-check .star{ background:url(../images/icon_plun_huangse.png) no-repeat !important; background-size:100% 100% !important;}
.comm-text{border-bottom:1px solid #e6e6e6; height:150px;}
.comm-intro{ width:100%; height:105px; border:none; resize:none; margin-top:10px; outline:none; font-size:14px; color:#333; line-height:22px;}
.wordwrap{ float:right; font-size:13px; color:#999;line-height:20px;}
.wordwrap var{ font-size:13px; color:#999; font-style:normal; }
.comm-btn{ width:66%; height:45px;border:2px solid #FFB844; color:#FFB844; background:none; font-size:16px; border-radius:5px; margin:30px 18%;}
.load-con h3{ line-height:40px; color:#666; font-size:16px; font-weight:normal;}
.loading{ width:100%; height:100%; position:fixed; top:0; left:0; background:rgba(255,255,255,.8); display:none;}
.load-con{ margin:30% 10% 0 10%; width:60%; text-align:center; padding:10%;}

.ewm{ text-align:center; padding:0 5% 20px 5%;}
.ewm p{ font-size:12px; color:#F00; line-height:20px;}
.ewm img{ margin-top:10px; width:150px;}
.more-gif{ text-align:center; line-height:30px; font-size:14px; color:#666; margin:20px 0;}
.more-gif a{ text-align:center; line-height:30px; font-size:14px; color:#666; }
.more-gif img{ width:30px; margin-right:5px;}
.foot{ position:fixed; bottom:0; left:0; width:100%; height:45px; background:#fff;}
@media screen and (min-width: 375px) {
    .ewm{ text-align:center; padding:5% 5% 20px 5%;}
    .comp-left{ width:28%; float:left;}
    .comp-right{ width:70%; float:left; padding-left:2%;}
    .two-wm{ background:url(../images/icon_saomiaohuawen.png) no-repeat; background-size:100% 100%; padding:20px; width:250px; margin:auto; margin-top:40px;}
    .pro-info-text p{ font-size:15px; color:#000; line-height:23px; margin-bottom:6px;}

}

@media screen and (min-width: 505px) {
    body{width:505px; margin:auto;}

}
















